body{
    background-color: #90E0EF ;
    display: grid;
    grid-template-rows: min-content min-content 1fr;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


h1{
    text-align: center;
    font-size: 6rem;
    color: #03045E;
}

.controls-cont{
    display: flex;
    justify-content: space-around;

}

.controls-cont button, .controls-cont label{
    font-weight: bold;
    font-size: 1.5rem;
}
.controls-cont button{
    height: min-content;
    align-self:flex-end;
    padding: 5px 10px;
    background-color: #03045E;
    color: #E9D985;
    border:2px solid #E9D985;
    border-radius: 10px;
}
.controls-cont button:hover{
    text-shadow: 0 0 2px #E9D985;
}
.controls-cont button:active{
    box-shadow: 0 0 2px 2px #E9D985;
}
.controls-cont>div{
    display: flex;
    flex-direction: column;
}
.controls-cont input{
    border: none;
    background-color: #03045E;
    color: #E9D985;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
}

.controls-cont div:first-child::before{
    content: "X";
    color: #03045E;
    font-weight: bold;
    font-size: 1.5rem;
}
.controls-cont div:last-child::before{
    content: "O";
    color: #03045E;
    font-weight: bold;
    font-size: 1.5rem;
}

main{
    display: flex;
    flex-wrap: wrap;
    width: 60vh;
    height: 60vh;
    margin: auto auto;
    outline: 4px solid #90E0EF;

}


main>button{
    display: flex;
    width: calc(60vh/3);
    height: calc(60vh/3);
    font-size: 9rem;
    justify-content: center;
    align-items: center;
    border: none;
    color: #E9D985;
    outline:4px solid #E9D985;
    background-color: #03045E;
}

main>button:hover{
    background-color: #766F72;
}